@import url('http://fonts.googleapis.com/earlyaccess/droidarabickufi.css');
@import url('http://fonts.googleapis.com/earlyaccess/lateef.css');

.persian {
	direction: rtl;
	text-align: right;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lateef', serif;
    font-size: 28px;
    background-color: #ECECEC;
    background-repeat: repeat;
    background-image: url('../img/bright_squares.png');
}

h1, h2, h4, h5, h6, .h1, .h2, .h4, .h5, .h6 {
	font-family: 'Droid Arabic Kufi', serif;
	font-size: 28px;
}

.tooltip {
	font-size: 22px;
}

.glyphicon {
	top: 8px;
}
.panel-title .glyphicon {
	top: 2px;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    border-bottom: 1px solid #FFF;
}
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #FFF;
    direction: rtl;
}
.footer a {
	font-family: monospace;
    display: inline-block;
    direction: ltr;
}

#course .tab-pane .list-group {
	margin-top: 40px;
}

@media (min-width: 992px) {
    .container {
        max-width: 950px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

.panel {
	background-color: rgba(255,255,255,0.4);
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}
.jumbotron p {
	font-size: 36px;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 28px;
    font-family: 'Droid Arabic Kufi', serif;
}

table tr td {
	background-color: #FFF;
}

.marketing {
    margin: 40px 0;
}
.marketing p {
	text-align: justify;
}

@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}